<div ng-app="app.autos" ng-controller="AutoDeleteCtrl as vm">
   <div class="row">
        <div class="col-lg-4"></div>
    <div class="col-lg-4 app">
        <form>
            <div class="form-group">
                <label>Folio</label>
                <br>
                    <input type="number" class="form-control float-left" style="width: 300px;" ng-model="vm.cars._id" placeholder="Folio del automóvil">
                    <button type="button" ng-click="vm.deleteCars(vm.cars)" class="btn btn-danger float-right">
                            <i class="fas fa-trash-alt"></i></button>
            </div>
            <br>
        </form>
    </div>
    <br>
    <div class="col-lg-4"></div>
   </div>
</div>
<br>
