<div ng-app="app.autos" ng-controller="AutoListCtrl as vm">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                    
            </div>
            <div class="col-lg-8 app">
                    <input type="text" ng-model="vm.cars.name" placeholder="Nombre">
                    <input type="text" ng-model="vm.cars.anio" placeholder="Año">
                    <input type="number" ng-model="vm.cars.seguridad" placeholder="Seguridad">
                    <button type="button" class="btn btn-primary btn-sm float-right" ng-click="vm.getAutosFind(vm.cars.name, vm.cars.anio, vm.cars.seguridad)">Buscar</button>
                <div ng-repeat="car in vm.cars" style="padding: 5px;">
                    <table class="table table-dark">
                        <thead>
                            <th scope="col">Folio</th>
                            <th scope="col">Name</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Año</th>
                            <th scope="col">Color</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Seguridad</th>
                        </thead>
                        <tr>
                            <th>{{car._id}}</th>
                            <td>{{car.name}}</td>
                            <td>{{car.modelo}}</td>
                            <td>{{car.anio}}</td> 
                            <td>{{car.color}}</td>
                            <td>{{car.brands}}</td>
                            <td>{{car.seguridad}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>

<br><br>

<ui-view></ui-view>