<div ng-app="app.autos" ng-controller="AutoCreateCtrl as vm" class="row mt-3" >
      <div class="col-lg-4"></div>
      <div class="col-sm-12 col-lg-4 app">
          <h2 class="card-header">Nuevo automóvil</h2>

          <form >

            <div class="form-group">
              <label>Folio</label>
              <input type="number" class="form-control" ng-model="vm.cars._id" placeholder="Escribir folio">
              <small class="form-text text-muted">Solamente folio numérico</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" ng-model="vm.cars.name" placeholder="Escribir nombre">
            </div>
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01" >Marca</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" ng-model="vm.cars.brands">
                <option selected >Elegir marca del automóvil</option>
                <option value="1">Nissan</option>
                <option value="2">Volkswagen</option>
                <option value="3">Toyota</option>
                <option value="4">Honda</option>
                <option value="5">KIA</option>
                <option value="6">Ford</option>
              </select>
            </div>

           <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Modelo</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" ng-model="vm.cars.modelo">
                <option selected>Elegir modelo del automóvil</option>
                <option value="1">SE</option>
                <option value="2">GLI</option>
                <option value="3">2.0</option>
                <option value="4">SV</option>
                <option value="5">SHELBY</option>
                <option value="6">ADVANCE NAVI</option>
                <option value="7">BASE SVT</option>
                <option value="8">SEDAN ENERGY</option>
              </select>
            </div>

            <div class="form-group">
              <label>Año</label>
              <select class="custom-select" id="inputGroupSelect01" ng-model="vm.cars.anio">
                <option >Elegir año del automóvil</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
              </select>
            </div>

            <div class="form-group">
                <label>Color</label>
                <input type="text" class="form-control" ng-model="vm.cars.color" placeholder="Escribir color">
            </div>

            <!--<div class="form-group">
              <label for="exampleFormControlFile1">Subir imagen del automóvil</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>  -->

            <div class="form-group" >
                <label>Clasificación</label>
                <p class="clasificacion" >
                    <input id="radio1" ng-model="vm.cars.seguridad" type="radio" name="estrellas" value="5"><!--
                    --><label for="radio1" class="estrellas">★</label><!--
                    --><input id="radio2" ng-model="vm.cars.seguridad" type="radio" name="estrellas" value="4"><!--
                    --><label for="radio2" class="estrellas">★</label><!--
                    --><input id="radio3" ng-model="vm.cars.seguridad" type="radio" name="estrellas" value="3"><!--
                    --><label for="radio3" class="estrellas">★</label><!--
                    --><input id="radio4" ng-model="vm.cars.seguridad" type="radio" name="estrellas" value="2"><!--
                    --><label for="radio4" class="estrellas">★</label><!--
                    --><input id="radio5" ng-model="vm.cars.seguridad" type="radio" name="estrellas" value="1"><!--
                    --><label for="radio5" class="estrellas">★</label>
                  </p>
            </div>

            <button type="button" ng-click="vm.addCars(vm.cars)" class="btn btn-primary">Guardar</button>

          </form>

      </div>
      <div class="col-lg-4"></div>
  </div>

  
<ui-view></ui-view>