@import url('https://fonts.googleapis.com/css?family=Raleway');

h2{
    font-family: Raleway;
}

.app{
    border-radius: 4px;
    margin-top: 20px;
    padding: 3px;
    background: #fff;
}