<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <a class="navbar-brand" id="title">Auto App</a>
      </nav>
</div>

<div class="container mt-3">
  <center>
    <img src="app/modules/autos/machine2.png" class="img-fluid" alt="Responsive image">
  </center>
</div>

<ui-view></ui-view>