@import url('https://fonts.googleapis.com/css?family=Raleway');

a{
    font-family: Raleway;
    font-size: 18px;
    color: #fff;
}

a:hover{
    color: #444444;
}

#title{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

#navbar{
    background-color: #009688; 
}

#navbarDropdown{
    font-family: Raleway;
    color: #fff;
}

/*CSS del auto-create*/

.card-header{
    text-align: center;
    text-transform: uppercase;
}

#formulario label{
    font-family: Raleway;
}

::placeholder{
    font-family: Raleway;
}

option{
    font-family: Raleway;
}

#inputGroupSelect01{
    font-family: Raleway; 
}

body{
    background: #02aab0;
    background: -webkit-linear-gradient(left, #00cdac, #02aab0);
    background: -moz-linear-gradient(left, #00cdac, #02aab0);
    background: -o-linear-gradient(left, #00cdac, #02aab0);
    background: linear-gradient(to right, #00cdac, #02aab0);
}

.estrellas{
    color:grey;
}

input[type = "radio"]{ display:none;}

.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}

.estrellas:hover{color:orange;}

.estrellas:hover ~ label{color:orange;}

input[type = "radio"]:checked ~ label{color:orange;}

#form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
